<!DOCTYPE html>
<html>
	<head>
		<title>Color Game</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/colorGame.css">
		<link rel="shortcut icon" type="image/png" href="/media/favicon.png">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
		<body>
			<audio id="correctSound" src="/media/correct.mp3"></audio>
			<audio id="wrongSound" src="/media/wrong.mp3"></audio>
			<audio id="selectSound" src="/media/select.mp3"></audio>
		<h1>
			The Great 
			<br>
			<span id="colorDisplay">RGB</span> 
			<br>
			Color Game
			<br>
			Welcome <span id="name"><%=player.playername%></span> <span id="id" style="display: none;"><%=player._id%></span>
		</h1>
		<div id="stripe">
			<span id="timer">TIME: 30s</span>
			<button id="start">Start</button>
			<span id="message"></span>
			<button class="mode">Easy</button>
			<button class="mode selected">Normal</button>
			<button class="mode ">Hard</button>
			<span id="score">SCORE: 0</span>
		</div>
			<div id="container">
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
			</div>
		<script type="text/javascript" src="/scripts/colorGame.js"></script>
	</body>
</html>