<!DOCTYPE html>
<html>
	<head>
		<title>Color Game</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/colorGame.css">
	</head>
		<body>
		<h1>
			The Great 
			<br>
			<span>RGB</span> 
			<br>
			Color Game
		</h1>
		<div id="stripe">

		</div>
			<div id="container">

			</div>
		<script type="text/javascript" src="/scripts/"></script>
	</body>
</html>