<!DOCTYPE html>
<html>
	<head>
		<title>Color Game</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/colorGame.css">
		<link rel="shortcut icon" type="image/png" href="/media/favicon.png">
	</head>
		<body>
			<audio id="selectSound" src="/media/select.mp3"></audio>
			<h1>
				The Great 
				<br>
				<span>RGB</span> 
				<br>
				Color Game
			</h1>
			<div id="stripe">

			</div>
			<div id="instructions">
				<h2>Instructions</h2>
				<p> This is a color guessing game based on the <a href="https://en.wikipedia.org/wiki/RGB_color_model">RGB color model</a>.
					Your objective is to guess as many colors as possible during the 30 seconds the game lasts. Bonus points are awarded
					if you make no mistakes.
					On the top you will see an RGB color (e.g. RGB(255,0,0)) and in the middle of the screen several blocks, 
					where only one will be the color described by the RGB code. 
					You will lose points if you choose a wrong one, but you cannot linger long because the clock is ticking!
				</p>
				<p>
					Type your name to start playing!
				</p>
				<form action="/color-game" method="POST">
					<div>
						<input id="playername" class="" type="text" onkeyup="stoppedTyping()" name="playername" placeholder="player name">
					</div>
					<br>
					<button id="play-button" disabled>Play</button>
					<p></p>
					<button></button><a id="view-scores" href="/scores">View Highcores</a></button>
					<br>
					<p></p>
				</form>
			</div>
		<script type="text/javascript" src="/scripts/index.js"></script>
	</body>
</html>