<!DOCTYPE html>
<html>
	<head>
		<title>Color Game</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/colorGame.css">
	</head>
		<body>
		<h1>
			The Great 
			<br>
			<span>RGB Color Game</span> 
			<br>
			Highscores
		</h1>
		<div id="stripe">
			<button class="mode">Easy</button>
			<button class="mode selected">Hard</button>
			<button class="mode ">Hardest</button>
		</div>
			<div id="container">

			</div>
		<script type="text/javascript" src="/scripts/"></script>
	</body>
</html>