body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: all 0.3s 0.05s ease-out;
}

.square {
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.6666%;
	border-radius: 15%;
	transition: all 0.3s 0.05s ease-out;
}

.square:focus {
	outline: none;	
}

.square:hover {
	transform: scale(1.1, 1.1);
	border-radius: 50%;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

h1 {
	text-align: center;
	line-height: 1.1em;
	font-weight: normal;
	color: white;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
	height: auto;
}

#colorDisplay {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
	color: steelblue;
	font-weight: 700;
}

#score {
	display: inline-block;
	width: 20%;
	color: steelblue;
	text-align: right;
	font-weight: 700;
}

#timer {
	display: inline-block;
	width: 20%;
	color: steelblue;
	text-align: left;
	font-weight: 700;
}

#stripe {
	background: white;
	height: 2em;
	text-align: center;
	color: black;
}

.selected {
	color: white;
	background: steelblue;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}

button:disabled {
	color: white;
	background: darkred;
}

#instructions {
	color: white;
	margin: 20px auto;
	max-width: 600px;
	border: steelblue;
	border-radius: 1em;
	border-style: dotted;
	text-align: center;
	border-spacing: 2em;
	border-width: 0.5em;
	
}

h2 {
	font-size: 2em;
}

#instructions p {
	margin: 2em;
	text-align: justify;
}

a{
	color: steelblue;
}
#playername{
	color: steelblue;
	border-radius: 1em;
	text-align: center;
	font-size: 1.5em;
}

#view-scores {
	text-align: center;
	text-decoration: none;
	margin: auto;
	color: white;
	font-size: 1.5em;
}

#again {
	text-align: center;
	text-decoration: none;
	margin: auto;
	color: steelblue;
	font-weight: 700;
	display: inline-block;
	width: 20%;
	text-align: right;
}

#play-button {
	font-size: 1.5em;
}


#highscores {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  #highscores td, #highscores th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
  }
  
  #highscores tr{background-color: #f2f2f2;}
  
  #highscores tr:hover {background-color: #ddd;}
  
  #highscores th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: steelblue;
	color: white;
  }